@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  scroll-behavior: smooth;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  color: #333;
  text-decoration: none;
}

/* 상단부분 */
header {
  display: flex;
  padding: 0 20px;
}
#logo {
  flex-basis: 300px;
}
#search {
  text-align: center;
  flex: 1;
  margin: auto;
}
#search input {
  text-align: center;
  border: none;
  top: 5px;
  width: 500px;
  font-size: 35px;
}
#search button {
  border: none;
  background: none;
  font-size: 35px;
  position: absolute;
  top: 95px;
}
#icons {
  display: flex;
  flex-basis: 200px;
  align-items: center;
  filter: invert(50%) sepia(0) saturate(50%) hue-rotate(0deg) brightness(10%)
    contrast(100%);
}
#icons a {
  margin: 20px;
  width: 50px;
  transition: 0.2s;
}
#icons a:hover {
  filter: opacity(60%);
}

/* 메인부분 */
#main {
  display: flex;
}
#main .left {
  flex-basis: 300px;
  text-align: center;
}
.left img {
  width: 80px;
  margin: auto;
}
.left ul li h2 {
  margin-bottom: 80px;
}
.left ul li a {
  transition: 0.2s;
}
.left ul li a:hover:nth-child(1) {
  color: rgb(145, 76, 145);
}
.left ul li a:hover:nth-child(2) {
  color: rgb(81, 155, 81);
}
.left ul li a:hover:nth-child(3) {
  color: rgb(55, 157, 229);
}
.left ul li a:hover:nth-child(4) {
  color: rgb(215, 95, 193);
}

#main .right {
  display: flex;
  justify-content: space-around;
}

.case {
  flex-basis: 400px;
  position: relative;
}
.case h2 {
  display: inline-block;
  border-bottom: 2px solid #888;
  margin-bottom: 20px;
}
.case span {
  position: absolute;
  top: 37%;
  left: 25%;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  color: white;
  transition: 0.5s;
}
.case b {
  position: absolute;
  top: 37%;
  left: 35%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.case a img {
  transition: 0.5s;
}
.case a:hover img {
  filter: brightness(0.4);
}
.case a:hover span,
.case a:hover b {
  opacity: 1;
}
.best {
  flex-basis: 400px;
  position: relative;
}
.best h2 {
  display: inline-block;
  border-bottom: 2px solid #888;
  margin-bottom: 20px;
}

.best span {
  position: absolute;
  top: 37%;
  left: 18%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.best b {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  top: 37%;
  left: 27%;
  opacity: 0;
  transition: 0.5s;
}
.best img {
  width: 300px;
  transition: 0.5s;
}
.best a:hover img {
  filter: brightness(0.4);
}
.best a:hover span,
.best a:hover b {
  opacity: 1;
}

/* 푸터부분 */
footer {
  background: #ddd;
  margin-top: 100px;
  padding: 50px;
}

#fmenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

#fmenu > div {
  text-align: center;
}
#fmenu > div > h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
}
#fmenu > div > a {
  display: block;
  line-height: 300%;
}

#copyright {
  font-size: 1.5rem;
  margin-top: 100px;
  text-align: center;
}
